sqlalchemy
https://github.com/mailgun/expiringdict/archive/master.zip
beautifulsoup4
python-telegram-bot
https://github.com/MarioVilas/google/archive/master.zip
emoji
textblob
textblob_fr
wikipedia
qhue
slackclient